
    <div class="col-md-5 offset-md-2" style="margin: auto;">
        <div class="card">
            <div class="card-body">
                <form autocomplete="off">
                    <div class="form-group">
                      <input type="text" name="title"  placeholder="Title" class="form-control" autofocus style="border-radius: 4px;">
                    </div>
                    <div class="form-group">
                      <textarea name="description" rows="3" placeholder="Description" class="form-control" style="border-radius: 4px;"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="url" name="image" placeholder="Image Url" class="form-control" style="border-radius: 4px;">
                    </div>
                    <a href="" class="btn btn-info btn-block">Save</a>
                  </form>
            </div>
        </div>
    </div>

